<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/categorias.css">
    <title>Categorias</title>
</head>
<body>
     <main>
       <div class="informations">
          <h1>ESTAS SÃO AS CATEGORIAS DE FILME QUE TEMOS</h1>
       
         <div class="acao">
            <p><strong>Ação:</strong>Filmes com muitas cenas de ação, como lutas, perseguições e explosões.</p>
         </div>
         <div class="aventura">
            <p><strong>Aventura:</strong>Filmes que envolvem viagens emocionantes, descobertas e exploração de novos lugares.</p>
         </div>
         <div class="comedia">
            <p><strong>Comédia:</strong>Filmes que têm como objetivo fazer rir, com situações engraçadas e humorístico.</p>
         </div>
         <div class="drama">
            <p><strong>Drama:</strong>Filmes que exploram temas sérios e emocionais, frequentemente focando nos conflitos pessoais dos personagens.</p>
         </div>
         <div class="romance">
            <p><strong>Romance:</strong>Filmes que se concentram em relacionamentos amorosos e histórias de amor.</p>
         </div>
         <div class="ficcao-cientifica">
            <p><strong>Ficção Científica:</strong>Filmes que exploram conceitos científicos e tecnológicos avançados, muitas vezes ambientados no futuro ou em mundos alternativos.</p>
         </div>
         <div class="fantasia">
            <p><strong>Fantasia:</strong>Filmes que envolvem elementos mágicos, criaturas fantásticas e mundos imaginários.</p>
         </div>
         <div class="terror">
            <p><strong>Terror:</strong>Filmes projetados para provocar medo e suspense, frequentemente com elementos sobrenaturais ou psicológicos.</p>
         </div>
         <div class="animacao">
            <p><strong>Animação:</strong>Filmes criados usando animação, seja tradicional ou computadorizada, direcionados para todas as idades.</p>
         </div>
         <div class="documentario">
            <p><strong>Documentário:</strong>Filmes que apresentam fatos reais, pessoas reais e eventos da vida real, frequentemente com o objetivo de educar ou informar.</p>
         </div>
         <div class="suspense">
            <p><strong>Suspense:</strong>Filmes que mantêm o público tenso e curioso sobre o que vai acontecer em seguida.</p>
         </div>
         <div class="musical">
            <p><strong>Musical:</strong>Filmes onde a música desempenha um papel importante na narrativa, frequentemente com performances musicais integradas à história.</p>
         </div>
        </div>

         
     </main>
    
</body>
</html>