<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suporte</title>
    <link rel="stylesheet" href="./css/suporte.css">
</head>
<body>
    <div class="suport">
    <h1>SUPORTE</h1>
    <p>Bem vindo ao suporte, por favor coloque seu email e seu problema,
        para que busquemos a melhor solução, o atendimemto pode demorar um tempo,
        mas com certeza vamos ser eficientes, agrademos e compreenção e a preferência 
    </p>
    <label>Coloque seu email:</label>
    <input type="text">
    <label>Coloque seu problema:</label>
    <input type="text">
</div>
</body>
</html>